.a-1{
	background-color:#689d6a;
}
.a-1 div,
.a-1 li{
	background-color:#928374;
}
.b-1{
	background-color:#b16286;
}
.b-1 div,
.b-1 li{
	background-color:#d79921;
}
.c-1{
	background-color:#458588;
}
.c-1 div,
.c-1 li{
	background-color:#d65d0e;
}
.d-1{
	background-color:#98971a;
}
.d-1 div,
.d-1 lxi{
	background-color:#cc241d;
}
.a-1, .a-1 div,
.b-1, .b-1 div,
.c-1, .c-1 div,
.d-1, .d-1 div{
	padding:5px;min-height:70px;
}