@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "variables.scss";

@import "~bootstrap/scss/bootstrap";
@import "fonts.scss";
@import "draft.scss";
@import "scaffolding.scss";
@import "./../../components/Header/style.scss";
@import "./../../components/FormSearch/style.scss";
@import "./../../components/NavMenu/style.scss";
@import "./../../components/Banner/style.scss";
@import "./../../components/Advantages/style.scss";
@import "./../../components/Cards/style.scss";
@import "./../../components/BlockText/style.scss";
@import "./../../components/Features/style.scss";
@import "./../../components/Reviews/style.scss";
@import "./../../components/Review/style.scss";
@import "./../../components/Team/style.scss";
@import "./../../components/Branches/style.scss";