.team {
	padding         : 75px 0 20px;
	background-color: $light-color;
	
	@media (min-width: $min-desktop) {
		padding-bottom: 50px;
	}
}

.team_container {
	width: 86%;
}

.team_block-text {
	width : 92%;
	margin: 0 auto;
	
	@media (min-width: $min-desktop) {
		width: 44.7%;
	}
}

.team_title {
	margin-top: 0;
}

.team_text {
	width        : 87%;
	margin-bottom: 45px;
	
	@media (min-width: $min-desktop) {
		width        : 100%;
		margin-bottom: 50px;
	}
}

.team-list {
	
	@media (min-width: $min-desktop) {
		@include flex(row, stretch);
	}
}

.team__member {
	margin-bottom   : 30px;
	padding         : 30px 40px;
	background-color: $color-body;
	
	@media (min-width: $min-desktop) {
		margin-right: 35px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.team__image {
	display: block;
	width  : 9.15rem;
	height : 9.15rem;
	margin : 0 auto;
}

.team__profession {
	margin     : 5px 0;
	text-align : center;
	font-family: $main-font-family;
	font-size  : 1rem;
	font-weight: 600;
	line-height: 1.7;
	color      : $color-main;
}

.team__name {
	margin     : 5px 0;
	text-align : center;
	font-family: $main-font-family;
	font-size  : 1.15rem;
	font-weight: 700;
	line-height: 1.5;
	color      : $dark-color-text;
}

.team__description {
	width      : 60%;
	margin     : 5px auto;
	text-align : center;
	font-family: $main-font-family;
	font-size  : 1rem;
	font-weight: 500;
	line-height: 1.4;
	color      : $color-text;
	
	@media (min-width: $min-desktop) {
		width: 100%;
	}
}