.navbar__button-bar_search {
	position: relative;
}

.navbar__form {
	position  : absolute;
	top       : 0;
	left      : 44px;
	overflow  : hidden;
	width     : 0;
	transition: .3s;
	transform : translateX(-100%);

	&.navbar__form_show {
		width     : 50vw;
		transition: .3s;
	}
	
	@media (min-width: $min-desktop) {
		left: 37px;
	}
}

.form-control {
	padding   : 0;
	box-sizing: border-box;
	width     : 0;
	transition: .1s;

	.navbar__form_show & {
		padding   : 0.375rem 0.75rem;;
		width     : 100%;
		transition: .1s;
	}
}