.branches {
	padding         : 53px 10.1%;
	background-color: $dark-color-text;
	
	@media (min-width: $min-desktop) {
		min-height: 807px;
		padding   : 53px 0;
	}
}

.branches_container {

	@media (min-width: $min-desktop) {
		@include flex(row, stretch);
		
		padding: 0;
	}
}

.branches_block-text {
	width: 100%;
	
	@media (min-width: $min-desktop) {
		width       : 59%;
		margin-right: 30px;
	}
}

.branches_title,
.branches_text {
	width     : 100%;
	text-align: left;
	color     : $color-body;
	
	@media (min-width: $min-desktop) {
		margin-left: 0;
	}
}

.branches_title {
	
	@media (min-width: $min-desktop) {
		width     : 82%;
		margin-top: 50px;
	}
}

.branches_text {
	
	@media (min-width: $min-desktop) {
		width        : 75.5%;
		margin-bottom: 50px;
	}
}

.branches_image {
	width : 100%;
	height: auto;
	margin: 30px 0 57px;
	
	@media (min-width: $min-desktop) {
		width : 40.6%;
		height: 224px;
		margin: 50px 0;
	}
}